<% provide(:title, "New Note") %>
<header>
  <h1>New Note</h1>
</header>

<div class="button-group">
  <%= link_to 'Back', note_book_notes_path(@note_book), class: "button grey-blue-bg"%>
</div>

<div class="form center note-form">
  <%= render partial: 'form' %>
</div>
