.note {
    width: 320px;
    max-height:270px;
    float:left;
    background-color: $soft-blue;
    margin: 10px;
    position:relative;
    @include shadow_outer(#CCC, 3px, 1px, 7px, 1px);

    .note-content {
	padding: 7px;
	min-height: 80px;
	max-height: 230px;
	margin-bottom: 20px;
	overflow-y: auto;
	
	pre {
	    font-size: 14px;
	}
    }
}
